/* DOCUMENTO */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI';
    background-image: url(imagens/rtxcaixa.jpg);
    background-size: 1400px;
    background-repeat: no-repeat;

}
aside {
    width: 15%;
    min-height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 12px #000;
    background-color:#f0f0f0;
}
aside img {
    border: solid 1px;
}
#imagem-ampliada-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  text-align: center;
}

#imagem-ampliada {
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

#fechar-imagem {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.container2{
    height: 99vh;
    margin-left: 75%;
    width: 25%;
    box-shadow: 3px 3px 12px #000;
}
body{
    text-align:center;
    background-color:#fff;
  }
  .button{
    position:relative;
    display:inline-block;
    margin:20px;
    margin-top: 10%;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#2bff00;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #247b3b;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #247b3b;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #247b3b;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#2bff00;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #247b3b;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #247b3b;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #247b3b;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
